<form #form="ngForm" [formGroup]="formGroup" novalidate (ngSubmit)="save()" fxLayout="column" [fxLayoutGap]="isEditMode ? '1em' : '0'" autocomplete="off">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
      <mat-form-field [floatLabel]="floatLabels" fxFlex>
          <mat-label>Therapist</mat-label>
          <input matInput formControlName="therapist" [readonly]="!isEditMode"/>
      </mat-form-field>

      <mat-form-field [floatLabel]="floatLabels" fxFlex>
          <mat-label>Home language2</mat-label>
          <input matInput formControlName="homeLanguage" [readonly]="!isEditMode"/>
      </mat-form-field>
  </div>
  </form>