<form #form="ngForm" [formGroup]="userProfileForm" novalidate (ngSubmit)="save()" fxLayout="column" [fxLayoutGap]="isEditMode ? '1em' : '0'" autocomplete="off">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
        <mat-form-field [floatLabel]="floatLabels" fxFlex>
            <mat-label>{{'JobTitle'}}</mat-label>
            <input matInput formControlName="jobTitle" [readonly]="!isEditMode"/>
        </mat-form-field>

        <mat-form-field [floatLabel]="floatLabels" fxFlex>
            <mat-label>{{'FullName'}}</mat-label>
            <input matInput formControlName="fullName" [readonly]="!isEditMode"/>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
        <mat-form-field [floatLabel]="floatLabels" fxFlex>
            <mat-label>{{'Email'}}</mat-label>
            <input matInput formControlName="email" [readonly]="!isEditMode"/>
            <mat-error *ngIf="email.hasError('required')">
                {{'EmailRequired'}}
            </mat-error>
            <mat-error *ngIf="!email.hasError('required') && email.hasError('email')">
                {{'InvalidEmail'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="floatLabels" fxFlex>
            <mat-label>{{'PhoneNumber'}}</mat-label>
            <input matInput formControlName="phoneNumber" [readonly]="!isEditMode"/>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
        <mat-form-field [floatLabel]="floatLabels" fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
            <mat-label>{{'UserName'}}</mat-label>
            <input matInput formControlName="userName" [readonly]="!isEditMode" autocomplete="off"/>
            <mat-error *ngIf="userName.hasError('required')">
                {{'UserNameRequired'}}
            </mat-error>
        </mat-form-field>

        <mat-form-field [floatLabel]="floatLabels" formGroupName="password" *ngIf="(isEditMode && !isNewUser && userName.value != user.userName) || (isChangePassword && isEditingSelf)" fxFlex>
            <mat-label>{{'CurrentPassword'}}</mat-label>
            <input matInput type="password" formControlName="currentPassword"/>
            <mat-error *ngIf="currentPassword.hasError('required')">
                {{'CurrentPasswordRequired'}}
            </mat-error>
        </mat-form-field>

    </div>

    <div *ngIf="isEditMode">

        <button mat-raised-button (click)="changePassword()" *ngIf="!(isChangePassword || isNewUser)" color="primary">{{'ChangePassword'}}</button>

        <div *ngIf="isChangePassword || isNewUser" formGroupName="password" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

            <mat-form-field [floatLabel]="floatLabels" fxFlex>
                <mat-label>{{'NewPassword'}}</mat-label>
                <input matInput type="password" formControlName="newPassword" autocomplete="off"/>
                <mat-error *ngIf="newPassword.hasError('required')">
                    {{'New Password Required'}}
                </mat-error>
                <mat-error *ngIf="!newPassword.hasError('required') && newPassword.hasError('pattern')">
                    {{'The new password must contain at least: one uppercase letter, one lowercase letter, one digit, and any special character'}}
                </mat-error>
            </mat-form-field>

            <mat-form-field [floatLabel]="floatLabels" fxFlex>
                <mat-label>{{'ConfirmPassword'}}</mat-label>
                <input matInput type="password" formControlName="confirmPassword"/>
                <mat-error *ngIf="confirmPassword.hasError('required')">
                    {{'Confirmation Password Required'}}
                </mat-error>
                <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('notEqual')">
                    {{'Password Mismatch'}}
                </mat-error>
            </mat-form-field>

        </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

        <mat-form-field fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
            <mat-label>{{'Roles'}}</mat-label>
            <mat-select formControlName="roles" multiple [disabled]="!isEditMode || !canAssignRoles">
                <mat-option *ngFor="let role of assignableRoles" [value]="role.name">
                    <span matTooltip="{{role.description}}">{{role.name}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="assignedRoles.hasError('required')">
                {{'RoleRequired'}}
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">

        <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
            <mat-checkbox *ngIf="isEditMode" formControlName="isEnabled">{{'Enabled'}}</mat-checkbox>
        </div>

        <div>
            <button mat-button *ngIf="user.isLockedOut" (click)="unlockUser()" [disabled]="isSaving" color="accent"><mat-icon class="mat-button-icon">lock_open</mat-icon>{{'Unblock'}}</button>
        </div>

    </div>

    <!-- https://github.com/angular/material2/issues/8798 -->
    <div>&nbsp;</div>
</form>
