<app-page-header title="Start" icon="start"></app-page-header>
<div [@fadeInOut] class="page-content">

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel #clientDetails hideToggle="true" (opened)="navigateToFragment('clientDetails')">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                       Client Details
                    </mat-panel-title>
                    <mat-panel-description>
                        Client information
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
               <app-client-details>#clientDetails</app-client-details>
                <mat-action-row>
                    <button mat-raised-button *ngIf="!clientDetails.isEditMode" (click)="clientDetails.beginEdit()" color="primary">Edit</button>
                    <button mat-raised-button *ngIf="!clientDetails.isEditMode" (click) ="clientDetails.save()" color="primary" style="margin-right: 1em;">Save</button>
                    <button mat-raised-button  color="warn">Cancel</button>
                </mat-action-row>
    
            </mat-expansion-panel>