<app-page-header title="Dashboard" icon="dashboard"></app-page-header>
<div class="page-content">

    <div [@fadeInOut]>
        <mat-card class="mat-elevation-z8" *ngIf="!configurations.showDashboardStatistics && !configurations.showDashboardNotifications && !configurations.showDashboardTodo && !configurations.showDashboardBanner">
            <h4>
                {{'You have no widgets displayed. Goto'}} <a routerLink="/settings" fragment="preferences"><i class="fa fa-sliders"></i> {{'Preferences'}}</a>
            </h4>
        </mat-card>

       
        <div *ngIf="configurations.showDashboardNotifications" class="bottom-space">
            <button mat-icon-button class="close" aria-label="Close" title="Close" style="float: right;" (click)="configurations.showDashboardNotifications = false">
                <mat-icon>close</mat-icon>
            </button>
            <div class="clearfix"></div>
            <notifications-viewer></notifications-viewer>
        </div>
    </div>
</div>
