<app-page-header title="About" icon="info"></app-page-header>

<div class="page-content">
    <div [@fadeInOut]>
        <h4>Welcome to OTS PRO</h4>
        <p>This application is aimed at the following stake holders</p>

        <h5>Occupational therapists</h5>
        <ul>
            <li>Assist in report writing by capturing data pertaining to the report</li>
            <li>Assist in report writing by generating report in a word format</li>
        </ul>

        <h5>Administrator</h5>
        <ul>
            <li>Track status of reports</li>
            <li>Auto generate invoices once report is completed</li>
        </ul>
    </div>
</div>
